<div class="cru-contact-map {{ section.settings.class }}" id="{{ section.settings.id }}">
    <div class="left-content">
        {{ section.settings.left_content | html }}
    </div>
    <div class="map-iframe">
        {{ section.settings.map_iframe | html }}
    </div>
</div>
{%  schema  %} 
    {
        "name": "CRU Contact Map",
        "settings": [
            {
                "type": "text",
                "id": "id",
                "label": "ID"
            },
            {
                "type": "text",
                "id": "class",
                "label": "Class"
            },
            {
                "type": "html",
                "id": "left_content",
                "label": "Left Content"
            },
            {
                "type": "html",
                "id": "map_iframe",
                "label": "Map Iframe",
                "default": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509198!2d144.9537353153165!3d-37.81627997975157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11f5b7%3A0x5045675218ceed30!2sGoogle!5e0!3m2!1sen!2sus!4v1616161616161!5m2!1sen!2sus\" width=\"600\" height=\"450\" style=\"border:0;\" allowfullscreen=\"\" loading=\"lazy\"></iframe>"
            }
        ],
        "presets": [
            {
                "name": "CRU Contact Map",
                "category": "Custom"
            }
        ]
    }
{% endschema %}