.general_row_container {
    max-width: 90%;
    margin: 50px auto 150px;
    width: 1100px;
    text-align: center;
    /* min-height: 100vh; */
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.gen_row_content {
    display: flex;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.single-post .wp-block-button.ot_normal_btn {
    margin-top: 0!important;
}
.general_row_container:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.gen_row_left {
    width: 40%;
}

.gen_row_right {
    width: 60%;
}

.gen_row_right h2 {
    margin-bottom: 0;
    border-top: 5px dotted #5f412c;
    border-bottom: 5px dotted #5f412c;
    padding: 20px 0;
    font-size: 4.5vw;
    line-height: 1;
    letter-spacing: 10px;
    margin-top: 0;
    font-family: 'Muli';
}

.gen_row_content * {
    color: #5f412d;
}

p.gen_sub_head {
    font-size: 2.5vw;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1;
}

p.gen_text {
    font-size: 22px;
}
.gen_text li:first-child {list-style-type: none;}

.gen_text ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
    margin-left: 0;
}

.gent_text li:first-child {
    display: none;
}

.gen_text li {
    font-size: 0.8vw;
    color: #f17321;
}

@media only screen and (max-width: 900px) {
    .gen_row_left {
		width: 100%;
	}

	.gen_row_right {
		width: 100%;
		margin-top: 20px;
	}

	.gen_row_content {
		flex-wrap: wrap;
	}

	.gen_text ul {
		margin-left: 0;
	}

	.gen_text li {font-size: 18px;}

	.gen_row_right h2 {
		font-size: 14vw;
		border-top: unset;
	}

	p.gen_sub_head {
		font-size: 6vw;
	}

    .gen_row_content img {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .gen_text li:nth-child(odd) {
		padding-right: 14px;
	}
    .gen_text ul {
        flex-wrap: wrap;
        padding: 0;
    }
    .gen_text li {
		width: 46%;
		font-size: 15px;
	}

	.gen_text ul {
		flex-wrap: wrap;
	}

	.gen_text li:nth-child(3) {
		list-style: none;
	}

	.gen_row_right h2 {font-size: 60px;letter-spacing: 2px;position: relative;}

	p.gen_sub_head {
		font-size: 40px;
	}
    .gen_text ul {
        gap: 15px;
    }
}