.hero_content {
    height: 100vh!important;
    background-size: cover;
    background-position: center;
    position: relative
}

.hero_txt_content {
    position: absolute;
    top: 60%;
    left: 5%;
    text-align: left;
    width: fit-content;
    max-width: 650px;
    z-index: 9999;
    transform: translateY(-50%);
}

.hero_heading, .hero_heading * {
    font-size: 60px;
    text-align: left;
    color: #5f412d;
    font-weight: 300;
    margin-bottom: 24px;
    padding: 0;
    position: relative;
    z-index: 1;
    font-family: Muli;
    text-align: center;
    line-height: 80px;
}

/* .hero_heading:after {
    content: '';
    width: 95px;
    display: block;
    height: 1px;
    background-color: #fff;
    margin-top: 24px
} */

p.hero_sub_heading {
    font-size: 16px;
    color: #fff;
    line-height: 23px;
    margin-bottom: 30px;
    max-width: 450px;
    font-weight: 400
}

.wht_btn, .white_btn a.gb-button {
    font-size: 15px;
    border: 2px solid #fff;
    font-weight: 400;
    display: inline-block;
    text-decoration: none !important;
    color: #fff;
    padding: 15px 25px;
    background-color: transparent !important;
    
    text-align: center;
    border-radius: 50px;
}

.wht_btn:hover, .white_btn a.gb-button:hover {
    background-color: #fff !important;
    color: #000 !important;
    text-decoration: none !important;
}

a.hero_slider_next {
    position: absolute;
    bottom: calc(11% - 2px);
    right: calc(6% - 4px);
    color: #767676;
    font-size: 40px;
    text-decoration: none!Important;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
    font-family: "Muli";
}

a.hero_slider_next:before {
    content: "";
    background: url(/wp-content/themes/cru-theme/assets/img/arrow-right.png);
    height: 28px;
    width: 42px;
    display: inline-block;
    margin-right: 29px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px
}

ul.slick-dots {
    bottom: 20px!important
}

a.hero_slider_prev {
    position: absolute;
    bottom: calc(11% - 2px);
    left: calc(5%);
    color: #767676;
    font-size: 40px;
    text-decoration: none!Important;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
    font-family: "Muli";
}

a.hero_slider_prev:before {
    content: "";
    background: url(/wp-content/themes/cru-theme/assets/img/arrow-right.png);
    height: 28px;
    width: 42px;
    display: inline-block;
    margin-right: 29px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    transform: rotate(180deg);
}

.hero_main_container .slick-arrow {
    display: none!important;
}

.hero_main_container.slick-initialized.slick-slider.slick-dotted {
    margin-bottom: 0;
}

.hero_content:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(14, 15, 11, 0) 50%, rgba(15, 16, 12, 0.8) 100%);
}

.hero_heading p {
    color: inherit;
}

@media only screen and (max-width: 781px){
    .hero_txt_content {
        display: none
    }

    .hero_content {
        background-image: none!important;
        height: auto!important
    }

    .mobile_background {
        display: block!important;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center
    }

    .hero_txt_content_mobile .hero_heading {
        font-size: 40px;
        line-height: 40px;
    }

    .hero_txt_content_mobile {
        display: block !important;
        padding: 40px 5%;
        width: 100%;
        background-color: #000;
    }

    a.hero_slider_next,a.hero_slider_prev {
        position: relative;
        right: unset;
        bottom: unset;
        width: 100%;
        background-color: #231f20;
        padding: 0 5%;
        padding-bottom: 40px;
        line-height: 1;
        font-size: 40px;
        display: block;
        left: unset
    }

    .hero_content:before {
        display: none
    }
}