section.product-page {
    max-width: 90%;
    margin: 115px auto 0;
    padding-top: 200px;
}

.product-image {
    width: 40%;
}

.product-details {
    width: 60%;
}

.quantity-wrapper input#quantity {
    max-width: 45px;
    text-align: center;
}

.product-description {
    max-width: 700px;
    font-size: 15px;
    margin-bottom: 30px;
}

.quantity-wrapper input#quantity::-webkit-outer-spin-button, .quantity-wrapper input#quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width: 0;
}

form.product-form {
    display: flex;
}

.product-page .quantity-wrapper {
    max-width: 150px;
    gap: 5px;
}

.product-page button.add-to-cart, .product-page .continue-shopping {
    transition: all 0.3s ease;
}

.continue-shopping{
    text-align: center;
    margin-left: 20px;
}

.lifestyle-image {
    min-height: 650px;
    width: 100%;
    background-size: cover;
    margin-top: 55px;
    background-attachment: fixed;
    background-position: center;
}

.big-image {
    min-height: 650px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#product-specifications {
    padding: 115px 0;
    background-color: #231F20;
    width: 100%;
    margin: 100px 0;
}

.product-specifications-inner {
    max-width: 750px;
    margin: 0 auto;
}

.meta-item {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0;
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid #fff;
}

p.specs_title {
    width: 25%;
    font-weight: 700;
    color: #fff;
}

p.specs_details {
    width: 75%;
    color: #fff;
}

.after_meta_links {
    margin-top: 90px;
}

.after_meta_links a {
    color: #231F20;
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    font-family: 'Muli';
}

h3.specs_header {
    color: #fff;
    font-size: 28px;
    font-family: Muli, serif;
    font-weight: 300;
}

.product-details {
    max-width: 525px;
}

.product-page button.add-to-cart, .product-page .continue-shopping {
    max-width: 170px;
    width: 100%;
    cursor: pointer;
    padding: .6180469716em 1.41575em;
    text-decoration: none;
    line-height: 1.618;
}

a.collapse_specs {
    width: 100%;
    display: none;
    color: #5f412d;
    text-transform: uppercase;
    position: relative;
    overflow: auto;
    vertical-align: revert;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.618;
}

a.collapse_specs:after {
    content: '+';
    display: inline-block;
    float: right;
    font-size: 26px;
    line-height: 1;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#tasting_note_video {
    max-width: 800px;
    width: 100%;
    padding: 24px;
}

.related-products {
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px){
    .product-wrapper {
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }
    .product-image, .product-details {
        width: 100%;
    }
    .product-details {
        margin-top: 50px;
        max-width: 100%;
    }
    .product-specifications-inner {
        width: 90%;
    }
}

@media only screen and (max-width: 781px) {
    a.collapse_specs {
        display: block;
    }

    .meta-item {
        display: none;
        padding: 0 0 24px;
        border: none;
    }

    p.specs_title {
        display: none;
    }

    p.specs_details {
        width: 100%;
        margin: 0;
    }
    .quantity-wrapper {
        width: 100%;
        margin: 0 auto 20px;
        justify-content: center;
    }

    form.product-form {
        display: block;
    }

    button.add-to-cart,.continue-shopping {
        display: block;
        margin: 0 auto 20px;
    }
}

@media only screen and (max-width: 600px) {
    .lifestyle-image {
        min-height: 450px;
    }
}