.logo img {
    height: auto
}

.logo {
    max-width: 150px;
    vertical-align: middle;
    display: inline-block
}

.logo svg {
    /* max-height: 49px; */
    width: 100%;
    height: 115px;
    fill: #000 !important;
}

header#masthead {
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    transition: all .3s ease-in
}

.header-container {
    padding: 0 0 30px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

li.menu-item {
    display: inline-block;
    font-size: 14px;
}

li.menu-item:last-child {
    margin-right: 0!important
}

.menu-list {
    vertical-align: middle;
    display: inline-block;
    margin-left: auto
}

header#masthead.fixed {
    position: fixed
}

.header_notif {
    text-align: center;
    position: relative;
    padding: 17.5px 0
}

a.banner-close {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px
}

.header_notif p {
    margin-bottom: 0;
    font-size: 13px
}

a.left_hamburger {
    margin-left: auto;
    color: #000;
    font-size: 26px
}

.right-popup-menu li.menu-item,.left-popup-menu li.menu-item {
    display: block;
    margin-right: 0;
    margin-bottom: 16px
}

.logo p {
    margin-bottom: 0;
    text-align: center
}

.right-popup-menu,.left-popup-menu {
    position: fixed;
    background-color: #231f20;
    max-width: 350px;
    width: 100%;
    text-align: center;
    top: 0;
    height: 100vh;
    display: none
}

.left-popup-menu {
    left: unset;
    right: 0;
    padding: 158px 5% 75px;
    z-index: 999;
    background-color: #fff;
}

.right-popup-menu .menu-main-menu-container,.left-popup-menu .menu-main-menu-container {
    text-align: left
}

a.hamburger_close {
    position: absolute;
    right: 50px;
    top: -122px;
    font-size: 34px;
    color: #fff !important;
    line-height: 1;
    font-family: "calibri";
}

.left-popup-menu a.hamburger_close {
    left: unset;
    right: 0;
}

.header-container.logo_centered_right_hamb .header_left_area,.header-container.logo_centered_right_hamb .logo,.header-container.logo_centered_right_hamb .header_right_area {
    width: 33.3333%;
    max-width: 33.333%
}

.logo img {
    max-height: 150px;
    margin: 0 auto
}

.header-container.logo_centered_right_hamb .header_right_area {
    text-align: right
}

.header-container.logo_centered_left_hamb .header_left_area,.header-container.logo_centered_left_hamb .logo,.header-container.logo_centered_left_hamb .header_right_area {
    width: 33.3333%;
    max-width: 33.333%
}

.logo img {
    max-height: 80px;
    margin: 75px auto 25px;
    width: auto;
}

.header-container.logo_centered_left_hamb .header_left_area {
    text-align: left
}

ul#menu-main-menu {
    margin: 0;
    padding: 0;
}

.content-bottom-container {
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 100%;
}

a.social_url {
    font-size: 24px;
    color: #000;
    margin-right: 0;
}

a.social_url:last-child {
    margin-right: 0
}

.left-popup-menu-inner {
    position: relative;
    height: -webkit-fill-available
}

.social_media_icons {
    text-align: left
}

ul.sub-menu {
    margin-left: 0;
    margin-top: 14px
}

a.hamburger_close:after {
    display: block;
    font-size: 16px;
    content: "Close";
    margin-left: 0;
    color: #000 !important;
}

.hamburger_close i.fa-solid.fa-xmark {
    display: inline-block;
    vertical-align: middle;
    color: #000 !important
}

.sub-menu li {
    font-size: 16px
}

.menu li a {
    font-size: 28px;
    color: #fff!important;
    font-family: "calibri";
}

.menu .sub-menu li a {
    font-size: 16px;
    font-family: "calibri";
}

.header_notif a {
    margin-left: 8px;
    text-decoration: underline;
    color: #fff
}

ul.header_footer_menu {
    list-style-type: none;
    text-align: left;
    margin-left: 0;
    margin-bottom: 40px
}

.header_footer_menu li a {
    color: #fff;
    font-size: 14px;
    font-family: "calibri";
}

.header_footer_menu li {
    line-height: 1;
    margin-bottom: 16px
}

.header_footer_menu li:last-child {
    margin-bottom: 0
}

div#header_cart_info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
    line-height: 1
}

.header_right_area {
    text-align: right
}

.header_right_content {
    display: inline-block;
    vertical-align: middle
}

a.login_right {
    font-size: 21px;
    font-size: 21px;
    color: #000
}

.scrolled li.menu-item.menu-item-type-post_type.header-menu__item a {
    color: #fff !important;
}

.scrolled .header-container.left_logo_right_menu {
    background: #000;
}

#header_cart_info a {
    font-size: 21px;
    color: #000;
    line-height: 1
}

header#masthead.scrolled {
    background-color: rgba(0,0,0,.5)
}

.dark i,.dark .logo svg path {
    color: #231f20;
    fill: #231f20
}

.dark.scrolled i,.dark.scrolled .logo svg path {
    color: #fff;
    fill: #fff
}

header i {
    color: #fff
}

.logo svg path {
    fill: #fff
}

.dark .header_right_area a:first-child{
	color: #231f20;
}

.dark.scrolled .header_right_area a:first-child{
	color: #fff;
}

.header_right_area a:first-child {
    /* margin-right: 24px; */
    /* font-size: 24px; */
    /* line-height: 1; */
    /* font-family: inter-light; */
    /* color: #fff; */
}

.header_right_area p {
    margin-bottom: 0
}

.header_right_area a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.dark .header_right_area a {
    color: #000
}

.light .header_right_area a {
    color: #fff;
    line-height: 1
}

.header_right_area {
    display: flex;
    justify-content: end !important;
    align-items: center;
    gap: 30px;
}

.page-subheading {
    width: 90%;
    margin: 48px auto 24px;
    align-items: normal !important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.stack.page_header_container .wp-block-column {
    flex-basis: 66.66%;
}

.stack.page_header_container .wp-block-column.btn_col {
    flex-basis: 33.33%;
}

.stack.page_header_container p.page_title_text {
    font-size: 18px;
    margin: 0;
}

.cru_header_logo_centered {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease;
    top: 0;
}

.header_right_area img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

a.header-button {
     transition: all 0.3s ease;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     width: fit-content;
     color: #5f412d!important;
     display: block;
     border: 1px solid #5F412D;
     padding: 12px 24px;
}

.hamb_line {
    width: 35px;
    display: block;
    height: 4px;
    background-color: #303030;
}

span.hamb_line2.hamb_line {
    margin: 8px 0;
}

.cru_header_logo_centered.scrolled.down {
    height: 0;
    visibility: hidden;
    opacity: 0;
}

/* .cru_header_logo_centered.scrolled {
    background-color: rgba(64, 42, 24, 0.8);
} */

.scrolled span.hamb_line, .light span.hamb_line {
    background-color: #000;
}

.scrolled a.header-button{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #eee1c6!important;
    border-color: #eee1c6;
}

.scrolled a.header-button:hover{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #eee1c6;
    border-color: #5f412d;
    background-color: #5f412d;
}

.scrolled .logo svg path, .scrolled .header_right_area svg path {
    fill: #000 !important;
}

.header_right_area svg {
    width: 45px;
    height: 45px;
}

li.menu-item.header-menu__item {
    display: block;
    /* margin-right: 0;
    margin-bottom: 16px;
    font-size: 26px;
    color: #EEE1C6 !important;
    line-height: 1.618; */
}

li.menu-item.menu-item-type-post_type.header-menu__item a {
    color: #fff !important;
    font-size: 14px;
    letter-spacing: 2px;
    height: auto;
    line-height: 40px;
    position: relative;
    padding: 0 17px;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-family: 'calibri', sans-serif;
}

.header_footer_content p {
    margin-bottom: 0px;
    color: #EEE1C6;
    text-align: left;
}

.header_footer_content a {
    display: inline-block;
    color: #EEE1C6;
    text-align: left;
    text-decoration: underline;
    margin-right: 20px;
}

.header_phone {
    margin: 20px 0;
}

.light .logo svg path, .light .header_right_area svg path {
    fill: #eee1c6 !important;
}

.light .header_right_area a {
    color: #eee1c6 !important;
    border-color: #eee1c6!important;
}

.product-image img {
    max-height: 650px;
    width: auto;
    margin: 0 auto;
}

.header-container.centered_logo_centered_menu {
    justify-content: center;
    flex-wrap: wrap;
}

.centered_logo_centered_menu .logo {
    width: 100%;
    max-width: 100%;
}

.centered_logo_centered_menu .menu-main-menu-container {
    width: 100%;
}

.centered_logo_centered_menu ul#menu-main-menu {
    display: flex;
    /* gap: 15px; */
    justify-content: center;
}

/* rosshill menu */
.upper_links {
    width: 100%;
    background-color: #000;
    /* padding: 10px 0; */
}

.upper_links_inner {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.upper_link_left, .upper_link_right {
    width: 50%;
    display: flex;
}

.upper_link_right {
    text-align: right;
    justify-content: right;
}

.upper_links_inner a, .upper_links_inner i {
    color: #fff;
}

a.contact_link, a.account_link {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
}

a.account_link:hover, a.contact_link:hover {
    background: #404f24;
    color: #fff;
}

a.open-cart {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
}

i.fa-solid.fa-bag-shopping {
    font-size: 16px;
}

i.fa-solid.fa-user {
    margin-right: 0px;
}

.scrolled .header_right_area a {
    color: #fff;
}

@media only screen and (max-width: 1000px){
    .upper_link_left, .upper_link_right {
        width: unset;
        gap: 10px;
    }

    .upper_links_inner {
        justify-content: center;
        gap: 10px;
    }
    .header_right_area {
        display: none;
    }

    .mobile_header {
        width: 50%;
        display: flex!important;
        justify-content: right!important;
    }

    .mobile_header .header_left_area {
        position: relative;
        top: unset;
        left: unset;
        transform: none;
        align-items: center;
    }

    .mobile_header .logo {
        display: none;
    }

    .left_logo_right_menu .logo {
        width: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .right-popup-menu,.left-popup-menu {
        max-width:100%
    }
}

@media only screen and (max-width: 580px) {
    .header_right_content a:first-child {
        display:none
    }
}