div#contact-section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 75px auto 0;
    display: grid !important;
    grid-template-columns: 47% 53%;
    margin-top: 75px;
}

.form_column {
    padding-right: 50px;
    padding-bottom: 50px;
}

.contact-form input:not([type="submit"]), .contact-form textarea {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #eee;
    padding: 15px 20px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 25px;
}

.contact-form textarea#message {
    height: 288px;
}

.cru-contact-col input[type=submit] {
    margin: 0;
    width: fit-content !important;
    color: #fff;
    font-family: 'Poppins' !important;
    border-color: #000;
    font-size: 20px;
    height: 45px;
    font-style: normal;
    font-weight: 500;
    background-color: #000;
    letter-spacing: 0;
    text-transform: none;
    border-width: 2px;
    border: 3px solid #000 !important;
    padding: 0 23px;
}

.cru-contact-col input[type=submit]:hover{
    background-color: #fff;
    color: #000;
}

.cru-contact-section h2.section-header {
    width: 100%;
    font-family: 'calibri', serif;
    margin-bottom: 16px;
    font-size: 45px;
    color: #000;
    line-height: 60px;
    font-weight: 300;
}

.cru-contact-section p.content-txt {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    line-height: 28.8px;
}

.stack.page_header_container {
    padding-bottom: 90px;
    margin-bottom: 0;
    padding-top: 242px;
    background-color: #f6f6f6;
}

.block-text.page_title p {
    margin-left: 5%;
    font-size: 37px;
    color: #000;
    font-weight: 100;
    line-height: 1;
    width: fit-content;
    margin: 0 0 0 5%;
}

/* .block-text.page_title p:after {
    content: '';
    width: 95px;
    display: block;
    height: 1px;
    background-color: #000;
    margin: 24px 0 0;
} */

.block-text.page_title {
    margin-bottom: 0;
    padding-top: 115px;
    /* padding-bottom: 77px; */
}

@media only screen and (max-width: 900px) {
    div#contact-section {
        grid-template-columns: 100%;
    }

    .form_column {
        padding-right: 0;
    }

    .image_column {
        height: 500px;
    }
}

@media only screen and (max-width: 781px) {
    .left-content {
        width: 100%!important;
        padding: 50px 5% 75px!important;
    }

    .map-iframe {
        width: 100%!important;
    }
}