.cta-grid-container.experience-loop {
    display: flex;
    gap: 10px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.cta_content.experience-content {
    width: calc(33.3333% - 7px);
    min-height: 620px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: #f9f7ef;
}

.experience-loop .cta_image_content {
    width: 100%;
    /* height: 60vh; */
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1;
}

.experience-loop .cta_txt_content {
     margin: 0 auto;
     margin: 0 auto;
     padding: 40px 45px 92px;
     height: auto;
     bottom: 0px;
     background-color: #F9F7EF;
     width: 100%;
}

.experience-loop h1.cta_heading {
    color: #5f412d;
    font-size: 32px;
    text-align: center;
    border-bottom: 2px dotted;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 5px;
    font-family: 'Muli';
    font-weight: 300;
    line-height: 1.214;
    letter-spacing: -1px;
    margin-bottom: 24px;
}

.experience-loop .cta_text {
    font-size: 16px;
    color: #5f412d;
    line-height: 28px;
    opacity: 1;
    transition: all 0.3s ease;
    margin-bottom: 24px;
    text-align: center;
}

.experience-loop a.general_btn.wht_btn {
    position: absolute;
    transition: all 0.3s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #5f412d;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    border: 1px solid #5F412D;
    padding: 12px 24px;
    width: fit-content;
}

.cta_txt_content a {
    color: #5f412d;
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .cta_content.experience-content, .cta-grid-container.experience-loop {
        width: calc(100%);
    }
}